/*初始化*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/*搜索栏样式*/
body {

    background: #eee;
}

.searchTab {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.searchForm {
    display: flex;

    justify-content: space-between;
}

@media(min-width:500px) {
    .searchForm {

        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.searchForm>input {
    width: 100%;
    margin-right: 20px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.searchForm>button {
    white-space: nowrap;
    padding: 0 25px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.925);
    background-color: rgb(96, 151, 223);
}

/*导航栏样式*/
.cardTable {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cards {

    display: flex;
    flex-wrap: wrap;

    margin: 20px;
    margin-right: 10px;
}

@media (min-width:500px) {
    .cards {
        margin-left: 0px;
        margin-right: -10px;
    }
}

.cards>li {
    list-style-type: none;

}

.cards .siteCard {
    border: 1px solid #ddd;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 4px;
    padding: 5px;
    margin-right: 5px;
    cursor: default;
    position: relative;
}

@media(min-width:500px) {
    .cards .siteCard:hover {
        background-color: #ddd;
    }
}

@media(min-width:500px) {
    .cards .siteCard {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .cards .siteCard:hover>.close {
        display: block;
    }
}

.cards .siteCard>.close {
    position: absolute;
    display: none;
    top: 0;
    right: 3px;
    cursor: pointer;
}

@media(max-width:500px) {
    .cards .siteCard>.close {
        display: block;
    }
}

.cards .siteCard>.siteLogo {

    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-transform: uppercase;
}

.cards .siteCard>.siteLink {
    font-size: 14px;
    margin: 10px 0;
}

.cards .siteAdd {
    border: 1px solid #ddd;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 4px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.cards .siteAdd:hover {
    background-color: #ddd;
}

@media(min-width:500px) {
    .cards .siteAdd {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.cards .siteAdd>.iconAdd {

    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}

.cards .siteAdd>.textAdd {
    font-size: 14px;
    margin: 10px 0;
}